{% load static %}
<div class="input-group search-group">
    <input type="text" class="form-control btn-search" placeholder="Поиск">
    <span class="input-group-btn">
        <button class="btn btn-default btn-search-icon" type="button"></button>
    </span>
</div>
<div class="sidebar-left_menu">
    <div class="sidebar-left_menu_item">
        <h3 class="title-sidebar">Пресс-клипиинг</h3>
        <div class="news-list">

            <ul>
                {% for post in press %}
                    <li class="news-list_item"><a href="{% url 'news:details' pk=post.pk %}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>
    <div class="sidebar-left_menu_item">
        <h3 class="title-sidebar">медиа бокс</h3>
        <div class="news-tab">
            <ul class="nav nav-tabs nav-news-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#photo" aria-controls="photo"
                                                          role="tab" data-toggle="tab">Фото</a></li>
                <li role="presentation"><a href="#video" aria-controls="video" role="tab"
                                           data-toggle="tab">Видео</a></li>
            </ul>
            <div class="tab-content tab-news">
                <div role="tabpanel" class="tab-pane active" id="photo">
                    {% for photopost in photo %}
                        <div class="tab-news_item">
                            <a class="tab-news_item_link clearfix" href="{% url 'news:details' pk=photopost.pk %}">
                                <img src="{{ photopost.photo.pic.url }}" width="101" height="81"
                                     alt="news image">
                                <div class="tab-news_item_detail">
                                    <span class="tab-news_item_detail_date">{{ photopost.photo.published }}</span>
                                    <h4 class="tab-news_item_detail_title">{{ photopost.title }}</h4>
                                </div>
                            </a>
                        </div>

                    {% endfor %}

                </div>
                <div role="tabpanel" class="tab-pane" id="video">
                    {% for videopost in video %}
                         <div class="tab-news_item clearfix">
                        <div class="news_card_img--wrap pull-left">
                            <img src="{{ videopost.video.pic.url }}" width="101" height="81"
                                 alt="news image">
                            <a class="play-icon play-icon--small popup-with-zoom-anim"
                               href="{% url 'news:details' pk=videopost.pk %}">
                                <span></span>
                            </a>
                        </div>
                        <a class="tab-news_item_link" href="{% url 'news:details' pk=videopost.pk %}">
                            <div class="tab-news_item_detail">
                                <span class="tab-news_item_detail_date">{{ videopost.video.published }}</span>
                                <h4 class="tab-news_item_detail_title">{{ videopost.title }}</h4>
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <div class="sidebar-left_menu_item">
        <h3 class="title-sidebar">общая информация о секретариате</h3>
        <div class="info-list">
            <ul>
                <li class="info-list_item"><a href="#">о нас</a></li>
                <li class="info-list_item"><a href="#">руководство</a></li>
                <li class="info-list_item"><a href="#">эксперты</a></li>
                <li class="info-list_item"><a href="#">национальный совет</a></li>
                <li class="info-list_item"><a href="#">нормативные документы</a></li>
                <li class="info-list_item"><a href="#">обратная связь</a></li>
            </ul>
        </div>
    </div>
</div>