{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include 'headers/main.html' %}
{% endblock %}
{% block slider %}
    <div class="slider-block">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{% static 'uploads/slider-img-1.jpg' %}" alt="slider image">
                    <div class="carousel-caption">
                        <h2>Национальная стратегия Устойчивого Развития 2018-2040</h2>
                        <a class="slider_more-btn" href="#">Подробнее...</a>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'uploads/slider-img-1.jpg' %}" alt="slider image">
                    <div class="carousel-caption">
                        <h2>Национальная стратегия Устойчивого Развития 2018-2040</h2>
                        <a class="slider_more-btn" href="#">Подробнее...</a>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'uploads/slider-img-1.jpg' %}" alt="slider image">
                    <div class="carousel-caption">
                        <h2>Национальная стратегия Устойчивого Развития 2018-2040</h2>
                        <a class="slider_more-btn" href="#">Подробнее...</a>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="slider-arrow arrow-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="slider-arrow arrow-next" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
{% endblock %}

<!--...-->
{% block sidebar %}
    {% include 'sidebar/main.html' %}
{% endblock %}



{% block content %}
    <div id="news-block">
        <div class="main-news_card">
        {% for post in first %}
                {% if post.video %}
                <div class="news_card_img--wrap">
                    <img class="img-rounded img-responsive" src="{{ post.previewImage.url }}"
                         width="984"
                         height="503" alt="Preview image">
                    <a class="play-icon popup-with-zoom-anim" href="#small-dialog">
                        <span></span>
                    </a>
                    <div id="small-dialog" class="mfp-hide">
                        <iframe src="http://127.0.0.1:8008/media/{{ post.video }}" width="500" height="281" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
                {% else %}
                <div class="news_card_img--wrap">
                    <img class="img-rounded img-responsive" src="{{ post.pic.url }}"
                         width="984"
                         height="503" alt="Preview image">
                </div>
            {% endif %}
        {% endfor %}

            {% for post in first %}

            <a href="{{ post.id }}">
                <div class="main-news_card_caption card_caption">
                    <h3 class="main-news_card_caption_title card_caption_title">{{ post.title }}</h3>
                    <p class="main-news_card_caption_desc card_caption_desc">{{ post.text|safe }}</p>
                </div>
            </a>
        {% endfor %}
        </div>

        <div class="news_card_list--horizontal">
            {% for post in middle  %}
                <div class="news_card_list_item clearfix">
                <div class="news_card_img--wrap pull-left">
                    <img class="img-rounded img-responsive"
                         src="{{ post.pic.url }}" width="312" height="197"
                         alt="news image">
                </div>
                <a href="{{ post.id }}">
                    <div class="card_caption">
                        <h3 class="card_caption_title">{{ post.title }}</h3>
                        <p class="card_caption_desc">{{ post.text }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
{#            <div class="news_card_list_item clearfix">#}
{#                <div class="news_card_img--wrap pull-left">#}
{#                    <img class="img-rounded img-responsive"#}
{#                         src="{% static 'uploads/news-card-horizontal-preview-image-1.jpg' %}" width="312" height="197"#}
{#                         alt="news image">#}
{#                </div>#}
{#                <a href="#">#}
{#                    <div class="card_caption">#}
{#                        <h3 class="card_caption_title">Японская компания Nippon Signal заинтересовалась#}
{#                            проектами программы «Таза коом»</h3>#}
{#                        <p class="card_caption_desc">Представители Рабочей группы «Таза Коом» Талант#}
{#                            Султанов и Азиз#}
{#                            Солтобаев встретились с компанией «Ниппон сигнал ко. ООО» и посетили центр#}
{#                            цифровой#}
{#                            трансформации компании «Фуджицу Лимитед», проведя переговоры по их привлечению к#}
{#                            реализации цифровых проектов в...</p>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
{#            <div class="news_card_list_item clearfix">#}
{#                <div class="news_card_img--wrap pull-left">#}
{#                    <img class="img-rounded img-responsive"#}
{#                         src="{% static 'uploads/news-card-horizontal-preview-image-1.jpg' %}" width="312" height="197"#}
{#                         alt="news image">#}
{#                </div>#}
{#                <a href="#">#}
{#                    <div class="card_caption">#}
{#                        <h3 class="card_caption_title">Японская компания Nippon Signal заинтересовалась#}
{#                            проектами программы «Таза коом»</h3>#}
{#                        <p class="card_caption_desc">Представители Рабочей группы «Таза Коом» Талант#}
{#                            Султанов и Азиз#}
{#                            Солтобаев встретились с компанией «Ниппон сигнал ко. ООО» и посетили центр#}
{#                            цифровой#}
{#                            трансформации компании «Фуджицу Лимитед», проведя переговоры по их привлечению к#}
{#                            реализации цифровых проектов в...</p>#}
{#                    </div>#}
{#                </a>#}
{#            </div>#}
        </div>
        <div class="news_card_list--vertical">
            <div class="row">
                {% for post in last %}
                <div class="col-md-4">
                    <div class="news_card_list_item">
                        <div class="news_card_img--wrap pull-left">
                            <img class="img-rounded img-responsive"
                                 src="{{ post.pic.url }}" width="312"
                                 height="197"
                                 alt="news image">
                            <a class="play-icon play-icon--small popup-with-zoom-anim" href="#small-dialog">
                                <span></span>
                            </a>
                        </div>
                        <a href="{{ post.id }}">
                            <div class="card_caption">
                                <h3 class="card_caption_title">{{ post.title }}</h3>
                                <p class="card_caption_desc">{{ post.text }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="news_card_list--big">
            <div class="row">

                {% for post in down %}
                <div class="col-md-6">
                    <div class="news_card_list_item">
                        <div class="news_card_img--wrap">
                            <img class="img-rounded img-responsive"
                                 src="{{ post.pic.url }}" width="480" height="360"
                                 alt="news image">
                        </div>
                        <a href="{{ post.id }}">
                            <div class="card_caption">
                                <h3 class="card_caption_title">{{ post.title }}</h3>
                                <p class="card_caption_desc">{{ post.text }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>
        <div class="clearfix">
            <div class="pull-right btn-more--wrap">
                <a href="/news">Больше новостей
                    <span class="btn-more--circle">
                        <span class="btn-more_arrow"></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include 'footers/main.html' %}
{% endblock %}
{% block js %}
    <script src="{% static 'js/modernizr.custom.46884.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
{% endblock %}