.idea/*
virtuallenv/*
*.sqlite3
*.db
*static
node_modules/*
media/*
locale
*local*
*.venv
venv/*
/dump.rdb
.vscode
*.pyc
__pycache__/*
/NSUR/news/media/
/NSUR/news/__pycache__/
/NSUR/news/migrations/__pycache__/
/NSUR/TazaKoom/__pycache__/