{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include 'headers/main.html' %}
{% endblock %}
{% block sidebar %}
    {% include 'sidebar/main.html' %}
{% endblock %}
{% block content %}
    <div id="news-list">
        <div class="news_card_list">
            {% for post in object_list %}
                <div class="news_card_list_item clearfix">
                    <a href="{% url 'news:details' pk=post.pk %}">
                        <div class="card_caption">
                            <h3 class="card_caption_title">{{ post.title|truncatechars:90 }}</h3>
                            <div class="card_caption_desc">
                                {{ post.text|safe|truncatechars:280 }}
                            </div>
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>
        <div class="pagination">
            {% if object_list.has_previous%}
                <a href="?page={{ object_list.previous_page_number }}&q={{ request.GET.q }}">❮</a>
            {% else %}
                <a class="disabled">❮</a>
            {% endif %}

            <span>Страница {{ object_list.number }} из {{ object_list.paginator.num_pages  }}</span>



            {% if object_list.has_next %}
                <a href="?page={{ object_list.next_page_number }}&q={{ request.GET.q }}">❯</a>
            {% else %}
                <a class="disabled">❯</a>
            {% endif %}

        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include 'footers/main.html' %}
{% endblock %}
{% block js %}
    <script src="{% static 'js/modernizr.custom.46884.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script>
        $(document).ready(function () {
            var captionDesk = $(".card_caption_desc p");
            for (var i = 0; i < captionDesk.length; i++) {
                captionDesk[i].innerHTML = captionDesk[i].innerHTML.replace(/&nbsp;/g,' ');
            }

            var captionTitle = $(".card_caption_title");
            for (var i = 0; i < captionTitle.length; i++) {
                captionTitle[i].innerHTML = captionTitle[i].innerHTML.replace(/&nbsp;/g,' ');
            }
        });
    </script>
{% endblock %}