{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include 'headers/main.html' %}
{% endblock %}
{% block sidebar %}
    {% include 'sidebar/main.html' %}
{% endblock %}
{% block content %}
    <div id="news-list">
        <div class="news_card_list">
            {% for post in posts %}
                <div class="news_card_list_item clearfix">
                    <a href="{% url 'news:details' pk=post.pk %}">
                        <div class="card_caption">
                            <h3 class="card_caption_title">{{ post.title|truncatechars:90 }}</h3>
                            <div class="card_caption_desc">
                                {{ post.text|safe|truncatechars:280 }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include 'footers/main.html' %}
{% endblock %}
{% block js %}
    <script src="{% static 'js/modernizr.custom.46884.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
{% endblock %}