{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include 'headers/main.html' %}
{% endblock %}
{% block sidebar %}
    {% include 'sidebar/main.html' %}
{% endblock %}
{% block content %}
    <div class="detail-page">
        <div class="detail-page_header">
            <a class="detail-page_header_prev-btn" href="{% url 'news:details' pk=details.pk|add:'-1'  %}"><span>Предыдущая новость</span></a>
            <h1 class="detail-page_header_title">{{ details.title|truncatechars:40}}</h1>
            <a class="detail-page_header_next-btn" href="{% url 'news:details' pk=details.pk|add:'1' %}"><span>Следующая новость</span></a>
        </div>
        <div class="detail-page_body">
            <img class="img-responsive img-rounded" src="{{ details.pic.url }}" width="830" height="442" alt="Detail image">
            <h2 class="detail-page_body_title">{{ details.title }}</h2>
            <div class="detail-page_body_content">
                <div class="detail-page_body_desc">
                     {{ details.text|safe }}
                </div>
            </div>
            <div class="detail-page_body_quote detail-page_body_quote--main">
                <p>{{ details.quote }}</p>
                <span>{{ details.quoteAuthor }}</span>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include 'footers/main.html' %}
{% endblock %}