{% extends 'base.html' %}
{% load static %}
{% block header %}
    {% include 'headers/main.html' %}
{% endblock %}
{% block sidebar %}
    {% include 'sidebar/main.html' %}
{% endblock %}
{% block content %}
    <div id="news-list">
        <div class="news_card_list">
            {% for post in posts %}
                <div class="news_card_list_item clearfix">
                    <a href="{% url 'news:details' pk=post.pk %}">
                        <div class="card_caption">
                            <h3 class="card_caption_title">{{ post.title|truncatechars:90 }}</h3>
                            <div class="card_caption_desc">
                                {{ post.text|safe|truncatechars:280 }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include 'footers/main.html' %}
{% endblock %}
{% block js %}
    <script src="{% static 'js/modernizr.custom.46884.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script>
        $(document).ready(function () {
            var captionDesk = $(".card_caption_desc p");
            for (var i = 0; i < captionDesk.length; i++) {
                captionDesk[i].innerHTML = captionDesk[i].innerHTML.replace(/&nbsp;/g,' ');
            }

            var captionTitle = $(".card_caption_title");
            for (var i = 0; i < captionTitle.length; i++) {
                captionTitle[i].innerHTML = captionTitle[i].innerHTML.replace(/&nbsp;/g,' ');
            }
        });
    </script>
{% endblock %}