{% load static %}
<footer id="footer">
    <div class="row container">
        <div class="col-md-3 col-md-offset-2">
            <div class="site-map">
                <h3 class="footer_title">карта сайта</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    Стратегия НСУР
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul class="site-map_menu">
                                    <li class="site-map_menu_item"><a href="#">Документы</a></li>
                                    <li class="site-map_menu_item"><a href="#">Статистика</a></li>
                                    <li class="site-map_menu_item"><a href="#">О программе</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Секретариат нсур
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul class="site-map_menu">
                                    <li class="site-map_menu_item"><a href="#">Документы</a></li>
                                    <li class="site-map_menu_item"><a href="#">Статистика</a></li>
                                    <li class="site-map_menu_item"><a href="#">О программе</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    нсур кр
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul class="site-map_menu">
                                    <li class="site-map_menu_item"><a href="#">Документы</a></li>
                                    <li class="site-map_menu_item"><a href="#">Статистика</a></li>
                                    <li class="site-map_menu_item"><a href="#">О программе</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    гос программы
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingThree">
                            <div class="panel-body">
                                <ul class="site-map_menu">
                                    <li class="site-map_menu_item"><a href="#">Документы</a></li>
                                    <li class="site-map_menu_item"><a href="#">Статистика</a></li>
                                    <li class="site-map_menu_item"><a href="#">О программе</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="social-icon-block">
                <h3 class="footer_title">мы в сети</h3>
                <ul class="social-icon-list">
                    <li><a href="#" class="social-icon-circle social-icon_fb"></a></li>
                    <li><a href="#" class="social-icon-circle social-icon_tw"></a></li>
                    <li><a href="#" class="social-icon-circle social-icon_vk"></a></li>
                    <li><a href="#" class="social-icon-circle social-icon_pt"></a></li>
                    <li><a href="#" class="social-icon-circle social-icon_tmb"></a></li>
                    <li><a href="#" class="social-icon-circle social-icon_drb"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="feedback-form--footer">
                <h3 class="footer_title">связаться с нами</h3>
                <form action="">
                    <div class="feedback-form_item--footer">
                        <input required type="text" id="fio" placeholder="ФИО">
                    </div>
                    <div class="feedback-form_item--footer">
                        <input required type="email" id="email" placeholder="Email">
                    </div>
                    <div class="feedback-form_item--footer">
								<textarea required placeholder="Сообщение" name="text" id="text" cols="30"
                                          rows="4"></textarea>
                    </div>
                    <div class="feedback-form_item--footer">
                        <button class="feedback-form_btn--footer">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>